.Star {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  animation: star infinite ease-in-out;
  animation-duration: 2s;
  margin: 6rem 40rem;
}
.Star:nth-child(2n) {
  margin: 6rem 30rem;
}
.Star:nth-child(3n) {
  margin: 6rem 20rem;
}

.Stars {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  position: absolute;
}
.Stars .line {
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  background: rgba(255, 255, 255, 0.023);
  overflow: hidden;
  transform: rotate(45deg);
}
.Stars .line:nth-child(1n) {
  left: 25%;
}
.Stars .line:last-child {
  left: 75%;
}
.Stars .line::after {
  content: "";
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
  animation: drop 7s 0s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}
.Stars .line::after:nth-child(1) {
  margin-left: -25%;
}
.Stars .line::after:nth-child(1)::after {
  animation-delay: 2s;
  animation-duration: 5s;
}
.Stars .line::after:nth-child(3) {
  margin-left: 25%;
}
.Stars .line::after:nth-child(3)::after {
  animation-delay: 2.5s;
}

@keyframes drop {
  from {
    top: -50%;
  }
  to {
    top: 110%;
  }
}
@keyframes star {
  0% {
    background: rgba(255, 255, 255, 0.133);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.463);
  }
  50% {
    background: white;
    box-shadow: 0 0 25px white;
  }
  100% {
    background: rgba(255, 255, 255, 0.133);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.463);
  }
}/*# sourceMappingURL=Star.css.map */