.Earth {
  width: 6rem;
  aspect-ratio: 1;
  background-image: url("./assets/earth.png");
  background-position: 0;
  background-size: cover;
  border-radius: 50%;
  box-shadow: 0 0 50px rgb(0, 204, 255);
  position: relative;
  &__wrapper {
    position: absolute;
    top: -6rem;
  }

}
