.Other {
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  bottom: -3.5rem;
  border-radius: 50%;
}
.Other img {
  width: 7rem;
  aspect-ratio: 1;
  box-shadow: 0 0 50px rgba(245, 54, 54, 0.911);
  border-radius: 50%;
}
.Other__planet {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}/*# sourceMappingURL=other.css.map */