.SolairWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 50%;
  padding: 4rem;
  animation: rotatePlanets infinite ease-in-out;
  animation-timing-function: linear;
}
.SolairWrapper__chield {
  position: absolute;
  aspect-ratio: 1;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}
.SolairWrapper__rotate {
  width: 100%;
  height: 100%;
}

.--outlined {
  border-left: 1px solid white;
}

@keyframes rotatePlanets {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}/*# sourceMappingURL=Solair.css.map */