.Sun {
  width: 35rem;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.Sun__circle {
  width: 10rem;
  aspect-ratio: 1;
  background: rgb(242, 242, 234);
  filter: drop-shadow(0 0 5rem rgb(250, 163, 3));
  border-radius: 50%;
}
.Sun::before {
  content: "";
  position: absolute;
  width: 14rem;
  aspect-ratio: 1;
  background: rgba(243, 183, 4, 0.753);
  border-radius: 50%;
  filter: blur(8px);
  animation: sunEffect infinite ease-in-out;
  animation-duration: 3s;
  animation-timing-function: linear;
}

@keyframes sunEffect {
  0% {
    width: 12rem;
  }
  50% {
    width: 11rem;
  }
  100% {
    width: 12rem;
  }
}
.SolairWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 50%;
  padding: 4rem;
  animation: rotatePlanets infinite ease-in-out;
  animation-timing-function: linear;
}
.SolairWrapper__chield {
  position: absolute;
  aspect-ratio: 1;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}
.SolairWrapper__rotate {
  width: 100%;
  height: 100%;
}

.--outlined {
  border-left: 1px solid white;
}

@keyframes rotatePlanets {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}
.Earth {
  width: 6rem;
  aspect-ratio: 1;
  background-image: url("./assets/earth.png");
  background-position: 0;
  background-size: cover;
  border-radius: 50%;
  box-shadow: 0 0 50px rgb(0, 204, 255);
  position: relative;
}
.Earth__wrapper {
  position: absolute;
  top: -6rem;
}

.Other {
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  bottom: -3.5rem;
  border-radius: 50%;
}
.Other img {
  width: 7rem;
  aspect-ratio: 1;
  box-shadow: 0 0 50px rgba(245, 54, 54, 0.911);
  border-radius: 50%;
}
.Other__planet {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}

.Star {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  animation: star infinite ease-in-out;
  animation-duration: 2s;
  margin: 6rem 40rem;
}
.Star:nth-child(2n) {
  margin: 6rem 30rem;
}
.Star:nth-child(3n) {
  margin: 6rem 20rem;
}

.Stars {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  position: absolute;
}
.Stars .line {
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  background: rgba(255, 255, 255, 0.023);
  overflow: hidden;
  transform: rotate(45deg);
}
.Stars .line:nth-child(1n) {
  left: 25%;
}
.Stars .line:last-child {
  left: 75%;
}
.Stars .line::after {
  content: "";
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
  animation: drop 7s 0s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}
.Stars .line::after:nth-child(1) {
  margin-left: -25%;
}
.Stars .line::after:nth-child(1)::after {
  animation-delay: 2s;
  animation-duration: 5s;
}
.Stars .line::after:nth-child(3) {
  margin-left: 25%;
}
.Stars .line::after:nth-child(3)::after {
  animation-delay: 2.5s;
}

@keyframes drop {
  from {
    top: -50%;
  }
  to {
    top: 110%;
  }
}
@keyframes star {
  0% {
    background: rgba(255, 255, 255, 0.133);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.463);
  }
  50% {
    background: white;
    box-shadow: 0 0 25px white;
  }
  100% {
    background: rgba(255, 255, 255, 0.133);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.463);
  }
}
.App {
  width: 100%;
  height: 100vh;
  background-image: url("./assets/bg.jpeg");
  display: flex;
  justify-content: center;
  align-items: center;
  animation: animateBg infinite ease-in-out;
  animation-duration: 60s;
}

@keyframes animateBg {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}/*# sourceMappingURL=App.css.map */