@use "./components";
.App {
  width: 100%;
  height: 100vh;
  background-image: url("./assets/bg.jpeg");
  display: flex;
  justify-content: center;
  align-items: center;
  animation: animateBg infinite ease-in-out;
  animation-duration: 60s;
}
@keyframes animateBg{
0%{
  background-position: left;
}
50%{
  background-position: right;
}
100%{
  background-position: left;
}
}