.Sun {
  width: 35rem;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.Sun__circle {
  width: 10rem;
  aspect-ratio: 1;
  background: rgb(242, 242, 234);
  filter: drop-shadow(0 0 5rem rgb(250, 163, 3));
  border-radius: 50%;
}
.Sun::before {
  content: "";
  position: absolute;
  width: 14rem;
  aspect-ratio: 1;
  background: rgba(243, 183, 4, 0.753);
  border-radius: 50%;
  filter: blur(8px);
  animation: sunEffect infinite ease-in-out;
  animation-duration: 3s;
  animation-timing-function: linear;
}

@keyframes sunEffect {
  0% {
    width: 12rem;
  }
  50% {
    width: 11rem;
  }
  100% {
    width: 12rem;
  }
}/*# sourceMappingURL=Sun.css.map */